body {
    background: white;
    font-family: "Sarabun", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paper {
    height: 500px;
    width: 320px;
    border-radius: 50px;
    background: #FFE4B5;
    
}
h1 {
    position: relative;
    left: 120px;
}
p {
    padding: 20px;
    font-size: 20px;
}
.link {
    position: relative;
    left: 120px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background: white;
}