body {
    background: white;
    font-family: "Sarabun", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paper {
    padding: 200px 150px;
    border-radius: 50px;
    background: #000000;
}